@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

h2, h3, p {
    font-family: "Roboto Mono", sans-serif;
    font-size: 24px;
}

p {
    font-weight: 400;
}

hr {
    border: 1px solid;
    width: 75%;
    color: black;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background: #acccec;
    padding: 40px;
}

.errorPage {
}

button {
    text-decoration: none;
}