@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box; /* Stops the horizontal scroll bar from showing everywhere */
}

html {
    overflow-y: scroll; /* Keeps the vertical scrollbar space locked */
}

body {
    margin: 0;
    padding: 0;
    width: 1024px;      /* Changed to a fixed width */
    overflow-x: auto;
}

/* HEADER */

nav {
    display: flex;
    width: 100%;
    gap: 55px;
    padding: 30px 0 20px 65px;
}

nav a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.headerSeperator {
    border: none;
    height: 2px;
    background: linear-gradient(to right, black, transparent);
    width: 50%;
    margin: 0 0 0 35px;
}

.header {
    font-family: "DM Sans", sans-serif;
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0 0 0 650px;
}

.header img {
    width: 100%;
    max-width: 55px;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
}